/* General */
:root {

}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.features {
  text-align: center;
  padding: 170px 0;
}
.title {
  color: rgb(61, 79, 159);
  font-weight: 500;
}
.title h2 {
  margin: 0 0 19px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}
.title p {
  margin: 0 0 94px;
  font-size: 24px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 67px;
  flex-wrap: wrap;
  margin-bottom: 142px;
}
.item {
  width: 140px;
}
.item svg {
  margin-bottom: 29px;
}
.item h3 {
  color: rgb(64, 116, 248);
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 33px;
}
.item p {
  color: rgb(173, 179, 203);
  font-size: 11px;
  font-weight: 500;
  margin: 0;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 111px;
  justify-content: center;
}
.buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 113px;
  height: 43px;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}
.buttons-readmore {
  background: rgb(255, 215, 215);
  color: rgb(212, 63, 63);
}
.buttons-getstarted {
  background: rgb(210, 225, 255);
  color: rgb(58, 121, 255);
}
.stats {
  background: linear-gradient(90deg, rgb(94, 128, 255) 50%, rgb(224, 233, 255) 20%);
}
.stats p {
  margin: 0;
}
.stats svg {
  margin-bottom: 15px;
}
.stats-inner {
  display: flex;
  padding: 70px;
}
.stats-left {
  padding-right: 90px;
  text-align: right;
  width: 50%;
  /* background: linear-gradient(194.57deg, rgb(104, 136, 255) 12.772%,rgb(94, 128, 255) 73.111%); */
  color: rgb(255, 255, 255);
}
.stats-right {
  padding-left: 90px;
  width: 50%;
  /* background: linear-gradient(164.36deg, rgb(233, 239, 255) 41.561%,rgb(224, 233, 255) 81.529%); */
  color: rgb(94, 128, 255);
}
.stats-inner p:nth-child(2) {
  font-size: 48px;
  margin-bottom: 20px;
}
.stats-inner p:nth-child(3) {
  font-size: 18px;
  font-weight: 500;
  max-width: 260px;
  letter-spacing: 0.6px;
}
.stats-left p:nth-child(3) {
  margin: 0 0 0 auto;
}
@media screen and (max-width: 645px) {
  .stats {
    background: linear-gradient(180deg, rgb(94, 128, 255) 50%, rgb(224, 233, 255) 20%);
  }
  .stats-inner {
    flex-direction: column;
    padding: 50px;
  }
  .stats-left {
    text-align: center;
    margin: 0 auto;
    padding-right: 0px;
    padding-bottom: 50px;
    width: 100%;
  }
  .stats-right {
    text-align: center;
    margin: 0 auto;
    padding-left: 0px;
    padding-top: 50px;
    width: 100%;
  }
  .stats-left p:nth-child(3),
  .stats-right p:nth-child(3) {
    margin: 0 auto;
  }
}